section {
    width: 100%;


    text-align: center;
    font-size: clamp(1em, 2vw, 2em);

    position: relative;
    .details {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4em;
    }
    .tag {
        font-weight: bold;
        font-size: 0.9em;
    }
    h2 {
        font-size: 1.5em;
    }
    p {
        max-width: 768px;
        margin-bottom: 4em;
    }
}

.dark-milk-banner {
    width: 100%;
    height: 10px;
    margin-top: 0.5em;
    background-color: $clr-accent-dark-milk;
}

.comment {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        margin-top: 3em;
        margin-bottom: 1em;
        padding: 0;
        margin-right: 0;
        width: 80%;
    }
    span {
        color: $clr-accent-strawberry;
        width: 80%;
        margin-bottom: 2em;
    }
    .horizontal-bar {
        width: 80%;
        height: 10px;
        border-radius: 2em;
        background-color: $clr-accent-dark-milk;
        margin-bottom: 4em;
        max-width: 500px;
    }
}

#milk-boba {
    background-color: $clr-accent-milk;
    .tag {
        color: $clr-accent-strawberry;
    }
}

#matcha-boba {
    background-color: $clr-accent-matcha;
    .tag {
        color: $clr-accent-strawberry;
    }
}

#strawberry-boba {
    background-color: $clr-accent-strawberry;
    .tag {
        color: $clr-accent-milk;
    }
}
