section {
    width: 100%;


    text-align: center;
    font-size: clamp(1em, 2vw, 2em);
    .details {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4em;
    }
    .tag {
        font-weight: bold;
        font-size: 0.9em;
    }
    h2 {
        font-size: 1.5em;
    }
    p {
        max-width: 768px;
        margin-bottom: 4em;
    }
}

.image-container {
    
}

#milk-boba {
    background-color: $clr-accent-milk;
    .tag {
        color: $clr-accent-strawberry;
    }
}