// FONTS
$font-taj: 'Tajawal', sans-seif;
$font-halant: 'Halant', serif;

// TYPOGRAPHY
$clr-font-black: #2D2D2D;

// COLORS
$clr-accent-milk: #F7E1D5;
$clr-accent-dark-milk: #FFB389;
$clr-accent-matcha: #DCF7D5;
$clr-accent-strawberry: #F58080;

// BOX SHADOWS
$shadow-main: rgba(0, 0, 0, 0.35) 0px 5px 15px;